body {
    text-align:center;
    font-family: "Arial";
    background-color:rgb(157, 253, 181);
    color: rgb(174, 0, 255);
}

button {
    background-color:rgb(255, 208, 0);
}
ul{
    text-align:left;
}